/* VARIABLES */
:root{

}
/* FIN VARIABLES */

/* CLASES GENERALES */
*{
    box-sizing: border-box;
    font-family: 'Brandon';
}

body{
    margin: 0;
    margin-bottom: 1000px;
}

a{
    text-decoration: none;
    color: #1D1D1D;
}

.wrapper{
    padding: 150px 142px;
}
/* FIN CLASES GENERALES */

/* FUENTES */

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Regular.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Bold.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
/* FIN FUENTES */

/* HEADER */

header{
    padding: 38px 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 129px;
    display: flex;
}

header .logo img{
    width: 100%;
    align-items: center;
}

header .links{
    display: flex;
    padding-right: 10px;
}

header .links .link-dropdown{
    padding: 10px;
    position: relative;
}
header .links .link-dropdown a{
    padding: 8px 0;
    margin: 0 10px;
    font-size: 15px;
    letter-spacing: .10em;
}

header .links .list-dropdown{
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    padding: 15px;
    white-space: nowrap; /*IMPORTANTEEEEE!!!*/
    margin-top: 10px;
}

header .links .list-dropdown a{
    color: white;
} 

header .links .link-dropdown:hover .list-dropdown {
    display: flex;
    flex-direction: column;
}

/* FIN HEADER */

/* MAIN */


/* FIN MAIN */

/* FOOTER */

footer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

footer p, footer a{
    font-weight: 200;
    font-size: 14px;
    letter-spacing: .29em;
    line-height: 1.7em;
}

footer .media ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    gap: 15px;
}

footer .media ul a{
    padding: 0;
    border: none;
    width: 23px;
    height: 23px;
}

footer .media ul a svg{
    max-height: 23px;
    max-width: 23px;
    fill: #90909b;
    transition: all .3s linear;
}

footer .media ul a svg:hover{
    fill: #47475b;
}

footer .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer .links a{
    text-decoration: underline;
    text-decoration-color: rgba(29,29,29,.3) ;
}

footer .links a:hover{
    color: rgba(29,29,29,.6);
    text-decoration-color: rgba(29,29,29,.15);
}

footer .links span{
    margin: 0 4px;
}

/* FIN FOOTER */